body {
  margin: 0;
  font-family: Arial Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  height: 11vh;
  align-items: center;
  padding: 0vh 17vw;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: hsla(0, 0%, 100%, 0.98);
  box-shadow: 0px -2px 10px 0px rgba(0, 0, 0, 0.15); 
  transition-property: box-shadow;
  transition-duration: 0.25s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.header-logo img {
  width: 17vw;
}

.navbar {
  display: flex;
  position: relative;
}

.about-us,
.career,
.departments {
  padding: 0vh 1vw; /* space between elements*/
}

.about-us a,
.career a,
.departments a {
  text-decoration: none;
  font-size: 90%;
}

.about-us a {
  color: #00b39b;
}

.career a,
.departments a {
  color: #ababab;
}

.career a:hover { /* when i clic it show me an other color*/
  color: #00b39b;
}

.departments a:hover {
  color: #00b39b;
}

.drop-down-menu {
  display: none;
}

.drop-down-menu p {
  color: #ababab;
  padding: 1.5vh 1vw;
}

.departments:hover .drop-down-menu {
  padding-top: 1vh;
  position: absolute;
  background-color: white;
  width: 16vw;
  height: fit-content;
  border: none;
  display: block;
  right: -1.5vw;
  box-shadow: 0vw 0.7vh 0.5vw #e2e2e2;
}

.drop-down-menu p:hover {
  background-color: #f5f4f4;
  color: #00b39b;
}

main {
  margin-top: 14vh;
}

.motto {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #00b39b;
  font-size: 25pt;
  height: 15vh;
  justify-content: space-between;
}

.presentation {
  display: flex;
  margin: 10vh 17vw;
  color: #747474;
  line-height: 1.7;
}

#p1 {
  width: 50%;
  margin-right: 0.5vw;
}

#p2 {
  width: 50%;
  margin-left: 0.5vw;
}

.three-boxes {
  margin-top: 15vh;
  display: flex;
  margin: 12vh 17vw;
}

.left-box {
  background-color: #00ccb1;
  margin-right: 0.5vw;
  border-radius: 0.7vw;
  background-image: url(https://www.docplanner.com/img/screen-marketplace@2x.png);
  background-size: 75% 60%;
  background-repeat: no-repeat;
  background-position-x: 15vw;
  background-position-y: 20vh;
}

.center-box {
    background-color: #3d83df;
    margin-left: 0.5vw;
    border-radius: 0.7vw;
    background-image: url(https://www.docplanner.com/img/screen-saas@2x.png);
    background-repeat: no-repeat;
    background-position-x: 15vw;
    background-position-y: 20vh;
    background-size: 75% 60%;
}

.right-box {
  background-color: #000000;
  margin-left: 0.5vw;
  border-radius: 0.7vw;
  background-image: url(https://www.docplanner.com/img/screen-saas@2x.png);
  background-repeat: no-repeat;
  background-position-x: 15vw;
  background-position-y: 20vh;
  background-size: 75% 60%;
}

#left-box-pic {
  right: 0;
  bottom: 1vh;
}

.three-boxes h6 {
  color: hsla(0, 0%, 100%, 0.7);
  font-size: 10pt;
  line-height: 3;
}

.three-boxes p {
  color: #fff;
  font-size: 20pt;
}

.left-box,
.right-box, .center-box {
  padding-left: 2.5vw;
  padding-top: 2.5vh;
  height: 50vh;
  width: 40vw;
}

#select1{
  height: 5vh;
  width: 12vw;
  border: hidden;
  font-size: 9pt;
  border-radius: 0.2vw;
  padding-left: 1.2vw;
  margin-top: 2vh;
  font-weight: 600;
}

#select2{
    height: 5vh;
    width: 12vw;
    border: hidden;
    font-size: 9pt;
    border-radius: 0.2vw;
    padding-left: 1.2vw;
    margin-top: 6.6vh;
    font-weight: 600;
}

#select3{
    height: 5vh;
    width: 12vw;
    border: hidden;
    font-size: 9pt;
    border-radius: 0.2vw;
    padding-left: 1.2vw;
    margin-top: 0.01vw;
    font-weight: 600;
}

#select1, #select2, #select3 :hover {
  background-color: rgb(228, 247, 248);
}

.brands img {
  width: 7vw;
  height: 3vh;
  padding-left: 2vw;
  padding-bottom: 2vh;
}
.brands-motto {
  color: #00b39b;
  font-size: 20pt;
  width: 27vw;
  line-height: 1.2;
}

.brands {
  display: flex;
  margin: 10vh 17vw;
}

.brands-logos {
  display: flex;
  flex-wrap: wrap;
}

.brands-logos a {
  padding: 0 20px;
}

.brands-logos svg:hover {
  fill: #00bfa5;
}

.big-green-section {
  background-color: #e5faf8;
  background-image: url(https://www.docplanner.com/img/logo.png);
  background-repeat: no-repeat;
  height: 81vh;
  background-position-y: 35vh;
  background-position-x: 7vw;
}
.container {
  height: 100%;
  display: flex;
  margin: 0vh 17vw;
}

.left-side {
  width: 51%;
  height: em;
  padding-top: 9vh;
}

.left-side h6 {
  color: #00b39b;
  font-size: 24pt;
  font-weight: lighter;
  line-height: 1.5;
}

.left-side p {
  color: #747474;
  font-size: 11pt;
  line-height: 1.8;
  padding-top: 2vh;
}

.right-side {
  width: 49%;
  height: em;
  display: flex;
  text-align: center;
}

.right-side img {
  padding-bottom: 1.5vh;
}

.right-side h6 {
  color: #00b39b;
  font-size: 17pt;
  font-weight: lighter;
  line-height: 1.3;
}

.right-side p {
  color: #747474;
  font-size: 10pt;
  line-height: 1.3;
  padding-top: 2vh;
}

div[class*="card"] {
  width: 100%;
  height: 28vh;
  background-color: white;
  border-radius: 0.5vw;
  margin-bottom: 1.2vw;
  padding-top: 5vh;
}

.column-1 {
  flex: 1;
  margin-right: 0.5vw;
  padding-top: 6vh;
  height: em;
}

.column-2 {
  flex: 1;
  margin-left: 0.5vw;
  padding-bottom: 6vh;
  padding-top: 3vh;
  height: em;
}

.paragraph {
  text-align: center;
  height: 50vh;
  margin: 0 17vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.paragraph h3 {
  color: #00b39b;
  font-size: 23pt;
  font-weight: lighter;
  line-height: 1.3;
}

.paragraph p {
  color: #747474;
  font-size: 10.5pt;
  line-height: 1.8;
  padding-top: 2vh;
}

.warsaw,
.barcelona,
.istanbul,
.rome,
.mexico-city,
.curitiba {
  height: 46.5vh;
  width: 20vw;
  border-radius: 0.5vw;
  border: 1px solid rgb(247, 247, 247);
}
.warsaw:hover {
  box-shadow: 0vh 2vw 4vw #e2e2e2;
}
.barcelona:hover {
  box-shadow: 0vh 2vw 4vw #e2e2e2;
}
.istanbul:hover {
  box-shadow: 0vh 2vw 4vw #e2e2e2;
}
.rome:hover {
  box-shadow: 0vh 2vw 4vw #e2e2e2;
}
.mexico-city:hover {
  box-shadow: 0vh 2vw 4vw #e2e2e2;
}
.curitiba:hover {
  box-shadow: 0vh 2vw 4vw #e2e2e2;
}
.cities {
  display: flex;
  flex-direction: column;
  margin: 0 17vw 12vh;
  justify-content: space-between;
  height: 98vh;
}
.cities p {
  font-size: 14pt;
}
.first-floor,
.second-floor {
  display: flex;
  justify-content: space-between;
}
.warsaw-pic {
  height: 80%;
  width: 100%;
  background-image: url(https://www.docplanner.com/images/warsaw.png);
  border-radius: 0.5vw 0.5vw 0 0;
}
.warsaw-text {
  padding: 0 1vw;
  height: 20%;
  display: flex;
  align-items: center;
  color: #747474;
  font-size: 10pt;
  justify-content: space-between;
}
.barcelona-pic {
  height: 80%;
  width: 100%;
  background-image: url(https://www.docplanner.com/images/barcelona.png);
  border-radius: 0.5vw 0.5vw 0 0;
}
.barcelona-text {
  padding: 0 1vw;
  height: 20%;
  display: flex;
  align-items: center;
  color: #747474;
  font-size: 10pt;
  justify-content: space-between;
}
.istanbul-pic {
  height: 80%;
  width: 100%;
  background-image: url(https://www.docplanner.com/images/istanbul.png);
  border-radius: 0.5vw 0.5vw 0 0;
}
.istanbul-text {
  padding: 0 1vw;
  height: 20%;
  display: flex;
  align-items: center;
  color: #747474;
  font-size: 10pt;
  justify-content: space-between;
}
.rome-pic {
  height: 80%;
  width: 100%;
  background-image: url(https://www.docplanner.com/images/rome.png);
  border-radius: 0.5vw 0.5vw 0 0;
}
.rome-text {
  padding: 0 1vw;
  height: 20%;
  display: flex;
  align-items: center;
  color: #747474;
  font-size: 10pt;
  justify-content: space-between;
}
.mexico-pic {
  height: 80%;
  width: 100%;
  background-image: url(https://www.docplanner.com/images/mexico-city.png);
  border-radius: 0.5vw 0.5vw 0 0;
}
.mexico-text {
  padding: 0 1vw;
  height: 20%;
  display: flex;
  align-items: center;
  color: #747474;
  font-size: 10pt;
  justify-content: space-between;
}
.curitiba-pic {
  height: 80%;
  width: 100%;
  background-image: url(https://www.docplanner.com/images/curitiba.png);
  border-radius: 0.5vw 0.5vw 0 0;
}
.curitiba-text {
  padding: 0 1vw;
  height: 20%;
  display: flex;
  align-items: center;
  color: #747474;
  font-size: 10pt;
  justify-content: space-between;
}
.city-button {
  background-color: #3d83df;
  width: 7vw;
  height: 4vh;
  border: hidden;
  border-radius: 0.3vw;
  font-size: 7.5pt;
  color: white;
  font-weight: 600;
}
.city-button:hover {
  background-color: #1662c6;
}
.cities a {
  text-decoration: none;
}

footer {
  height: 14vh;
  border-top: 1px solid #eef2f2;
  text-align: center;
  color: #ababab;
  font-size: 9pt;
  padding-top: 1.5vh;
}
#p1-footer {
  line-height: 4;
}
#p2-footer {
  line-height: 2;
}
footer a {
  color: #3d83df;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
